body {
    background-image: url('/static/images/survey.jpg');
    background-size: cover;
}

.container{
    margin-top: 2rem;
}

h1{
    font-size: 3rem;
}


h2.main{
    display:inline;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

form{
    font-size: 1.5rem;
}

.messages{
    padding: 1rem;
    border-radius: 1rem;
}

.error{
    color: whitesmoke;
    background-color: rgba(255, 0, 0, 0.1);
    font-size: 2rem;
    text-align: center;
}

.success{
    color: whitesmoke;
    background-color: rgba(125, 205, 236, 0.6);
    font-size: 2rem;
    text-align: center;
}

#jumbo {
    background: rgba(125, 205, 236, 0.3); 
 }
