<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock%}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>
<body>
    <h1>Survey on Face Masks during COVID-19</h1>
    <!-- flash messages -->
    <section class="messages">
        {% with messages = get_flashed_messages(with_categories=true)%}
            {%for category,msg in messages%}
                <h3 class="flash {{category}}">{{msg}}</h3>
            {% endfor %}
        {% endwith %}
    </section>
    {% block content%}
    {% endblock %}
</body>
</html>